{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | Privacy e Cookies Policy
{% endblock %}


{% block body %}
    <div class="main-cookies-container">

        <div class="cookies-container mb-4">
        
        <div class="block-title">
            <h1>COOKIES POLICY</h1>

        </div>
        <div class="section-content">
            <div class="sub-section">
                <h2>I Cookies</h2>
                <p>
                    Il nostro sito utilizza i <strong>cookies </strong>: dei piccoli file testo che vengono 
                    inviati al vostro terminale durante la vostra visita.
                </p>
                <p>
                Questi file testo vengono utilizzati per rendere più efficente l'esperienza di navigazione sul sito dell'utente
                </p>
                <p>
                I cookies utilizzati sono, "cookies tecnici" ovvero strettamente necessari per il funzionamento di questo sito.
                Per l'installazione e l'utilizzo dei cookie tecnici non è richiesto il preventivo consenso degli utenti, 
                poiché i dati gestiti dai cookie di sessione o navigazione vengono utilizzati al solo fine di controllare e garantire 
                il corretto funzionamento del servizio offerto o per ricavare informazioni statistiche anonime sull'uso del sito.
                </p>
            </div>
            <div class="sub-section">
                <h2>Disattivare i cookies</h2>
                <p>
                    L'utente puo controllare le proprie scelte sull'utilizzo dei cookies ingenerale tramite le impostazioni del proprio browser, 
                    attraverso le quali può decidere di subordinare l’installazione di qualsiasi tipo di cookie al proprio consenso preventivo o 
                    di impedirne completamente l’installazione. 
                    
                    Si invita l’Utente a visitare la rubrica relativa alle impostazioni dei cookies messa a disposizione dal proprio broser (Google Chrome, Safari, Mozilla Firefox, Internet Explorer).
                </p>
            </div>
            
        </div>
       
    </div>

    <div class="privacy-container mb-3">
        
        <div class="">
            <h1>Privacy POLICY</h1>

        </div>
        <div class="section-content">
            <div class="sub-section">
                <h2>Introduzione</h2>
        
                <p>
                Noi consideriamo di foncadmentale importanza la tutela e il rispetto della privacy dell'utente.
                Pertanto, ci impegniamo a rispettare la riservatezza dei dati personali e a garantire un trattamento etico e nel pieno rispetto delle norme vigenti.
                
                </p>
            </div>
            <div class="sub-section">
                <h2>I dati personali</h2>
                <p>
                
                    Ci impegniamo a raccogliere solo i dati che sono necessari in relazione al fine per il quale vengono raccolti (vedere la parte successiva) :
                    
                    <ul class="font-size-l">
                        <li>Nome</li>
                        <li>Cognome</li>
                        <li>Indirizzo e-mail</li>
                        <li>Messaggio inviato tramite modulo Contatti</li>
                    </ul>
                </p>
                <p>
                    I dati raccolti non saranno soggetti a nessuna diffusione né comunicazione a servizi terzi.
                </p>
            </div>

             <div class="sub-section">
                <h2>Lo scopo della raccolta dei dati</h2>
                <p>
                    L'unica finalità della raccolta e dell'utilizzazione dei dati é la seguente :
                    Comunicazione con gli utenti attraverso il <a class="font-weight-bold" href="{{path('app_contact')}}">modulo Contatti</a>
                </p>
            </div>

            <div class="sub-section">
                <h2>Diritti dell'utente</h2>
                <p>
                    Secondo la legislazione vigente, ogni utente ha il diritto di accesso, di aggiornamento, di retifica, di cancellazione e il diritto di limitare l'uso dei suoi dati personali.

                    L'utente puo esercitare il proprio diritto contattando il nostro servizio: personal.data@zamuamusic.com
                    
                </p>
            </div>
        </div>
       
    </div>
    
    </div>
    
{%  endblock %}



