{% extends "base.html.twig" %}
{% block title %}
    ZAMUA | {% trans %}MUSIC{% endtrans %}
{% endblock %}


{% block body %}
        
        <div class="bg-main bg-main-music">
        <div class="container overlay">
            <div class="block-title">
                {% trans %}<h1><span class="title1"></span><span class="title2">Music</span><span class="title3"> is</span><span class="title-dots">...</span></h1>{% endtrans %}
                
            </div>
        </div>
        <div class="line-scroll">
            <a href="#toScroll">scroll</a>
            <div class="line"></div>
        </div>
    </div>

    <div id="toScroll"></div>
    <div class="music-first-section">
        
        <div class="container">
            <div class="block-text">
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    Music comes from a sense of urgency, from a need to share one's voice, soul, and presence.
                    <strong>A means of learning to think critically about what we see and do in the environment in which we live; </strong>
                    the beginning and end of a cyclical path toward self-determination.
                    It is a means of reaching people's emotions, conveying a picture, an idea, or a concept, and giving meaning to the perception of reality. 
                {% endtrans %}
                </p>

                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    <strong>Music builds bridges between the inner and outer worlds. It allows us to put into a delicate shape the inexplicable inner secrets that occasionally manage to escape via the melodies and rhythm.</strong>
                {% endtrans %}
                </p>
                
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}    
                    <em>"When it comes to music, I go into a tizzy. It's something I've done since I was a youngster.
                    Through music, and particularly through singing, I can <strong>investigate and reflect on topics that are important to me such as identity</strong>, or rather our identities, which are fluid, changing, and never the same, in a way that dismantles any concept of a real or imagined line between "us" and "them.</em> 
                {% endtrans %}
                <p class="mb-1 line-height-l font-size-l">
                {% trans %}
                    <em>"Music has been and still is, a fundamental element of my existence.
                    There is no predefined musical genre. I start with two instruments, voice and guitar. And then begin developing, creating, and telling stories. 
                    <strong>The foundation of my musical universes, such as soul, jazz, reggae, and electronic music are all incorporated into my work. I allowed myself to be burdened by this baggage, and as a result, I produced extremely hybrid music"</strong></em>
                {% endtrans %}
                </p>
                
            </div>
            
        </div>
        
    </div>

    
    <div class="music-second-section">
    
        <div class="album-infos-container m-2">

            <div class="reveal-up d-flex flex-direction-column flex-align-center position-relative">
                
                <h3 class="title">LITANIE - EP</h3>
                <img class="image-fluid ep-js"src="{{asset('images/pochette-ep.jpg')}}">
                <iframe class="iframe-js" style="border-radius:0px" src="https://open.spotify.com/embed/album/49xV7avbfOOiy1b3EWVvIV?utm_source=generator&theme=0" width="100%"  frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <a href="https://ditto.fm/litanie-zamua" target="_blank" class="btn-custom mt-2">{% trans %}LISTEN{% endtrans %}</a>
                
            </div>
            

        </div>
        <div class="album-infos-container m-2 reveal-up d-flex flex-direction-column flex-align-center">
            <h3 class="title">ESTATE - single</h3>
            <iframe class="w-100 display-lg" style="border: 0; width: 500px; height: 500px;" src="https://bandcamp.com/EmbeddedPlayer/track=4000258349/size=large/bgcol=333333/linkcol=e99708/minimal=true/transparent=true/" seamless><a href="https://zamua.bandcamp.com/track/estate">Estate by Zamua</a></iframe>
            <iframe class="w-100 display-sm" style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/track=4000258349/size=large/bgcol=333333/linkcol=e99708/minimal=true/transparent=true/" seamless><a href="https://zamua.bandcamp.com/track/estate">Estate by Zamua</a></iframe>
            <a href="https://zamua.bandcamp.com/track/estate" target="_blank" class="btn-custom mt-2">{% trans %}LISTEN{% endtrans %}</a>
        </div>
    </div>

    
{%  endblock %}
{% block javascripts %}

    {{ parent()}}
    {{encore_entry_script_tags('music') }}

{% endblock %}


