@import './variables.css';

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
:root {
    font-size: 62.5%;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}
::-webkit-scrollbar-track{
    background: #efefef;
}
html { 
    scroll-behavior: smooth; 
}
.loader-wrapper{
    background: #000;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s cubic-bezier(.1,.8,.9,1);
}
.loader-wrapper img{
    transition: all .4s ease-in-out;
    opacity: 0;
}
.loader-wrapper img.animation{
    -webkit-animation: loader-animation 2.5s ease-in-out infinite;
    animation: loader-animation 2.5s ease-in-out  infinite;
}
@keyframes loader-animation{

    0% {
        
        opacity: 0.5;
        border: 0.1rem solid transparent;
        padding: 2rem;
    }
    25% {
        
        opacity: 0.8;
        border: 0.1rem solid var(--color-primary);
        padding: 2.5rem;
    }
    
    50% {
        opacity: 1;
        border: 0.1rem solid var(--color-primary);
        padding: 4rem;
    }
    75% {
        opacity: 0.5;
        border: 0rem solid transparent;
        padding: 0.8rem;
    }
    
    100% {
        opacity: 0;
        border: 0rem solid transparent;
    }

}
html,
body{
    font-size: 1.6rem;
    /* background: var(--bg-light); */
    background-color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}
p{
    font-size: 1.8rem;
}
h1,
h2,
h3{
    margin-bottom: 2rem;
}
a{
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
a:hover{
    color: var(--color-secondary);
}
ul{
    list-style: none;
}
label,
input,
textarea{
    font-size: 1.8rem;
    
}
label{
    margin-bottom: 2rem;
}
form input:focus, form textarea:focus{
    background-color: #ffffff1c
}

.block-left{
    display: none;
}

form ul li{
    color: var(--color-danger);
    font-weight: 600;
}
.display-lg,
.no-mobile-view{
    display: none;
}
.display-sm,
.mobile-view{
    display: block;
}
.active-page{
    margin: 2rem 0;
    color: #fff;
    position: relative;
}
.back-opacity{
    left: -3.6rem;
    top: -8.1rem;
    font-size: 34rem;
    opacity: 0.1;
}
.line-scroll a {
    bottom: 15.5rem;
}
.line-scroll .line {
    height: 15rem;
}
.switch-language.mobile-view{
    opacity: 0;
    -webkit-transition: all .4s cubic-bezier(.42,0,.58,1);
    transition: all .4s cubic-bezier(.42,0,.58,1);
    
}
.switch-language {
    padding: 1rem;
    border: 1px solid var(--color-primary);
}

.switch-language a{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 1rem;

}
.switch-language a:first-child{
    border-right: 1px solid;
}
.privacy-container .sub-section ul{
    list-style-type: disc;
    margin-left: 4rem;
}
/*PAGE ERRORS*/
.bg-error-page .container{
    flex-direction: column;
    justify-content: center;
}
.bg-error-page .block-text{
    flex-direction: column;
    margin-bottom: 6rem;
    text-align: center;
}
.bg-error-page .block-text h1{
    font-size: 7rem;
}
.bg-error-page .block-text h2{
    font-size: 4rem;
}
.bg-error-page p{
    font-size: 3rem;
}
.navigation-panel{
    display: none;
    opacity: 0;
    background: rgb(0, 0, 0);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 2000;
    padding-top: 7rem;
    transition: all .5s ease-in-out;
    justify-content: end;
}

.navigation-panel #icon-container {
    font-size: 4rem;
    color: var(--color-primary);
    text-align: right;
    top: 3.6rem;
    position: absolute;
    right: 3rem;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.navigation-panel ul{
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all .4s ease-in-out;
    opacity: 1;
    position: relative;
    top: 5.6rem;
    right: 3.6rem;
}
.navigation-panel-item {
    opacity: 0;
    transform: translateY(4rem);
    transition: all .5s ease-out;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.navigation-panel-item::after{
    content: "";
    display: block;
    height: 0.2rem;
    background: var(--color-primary);
    width: 0;
    transition: .45s all cubic-bezier(.645,.045,.355,1);
    top: -9%;
    position: relative;
}
.navigation-panel-item:hover::after,
.navigation-panel-item.active-link::after{
    width: 100%;
    
}
.navigation-panel ul.user-items{
    top: 6rem;
    right: 1.8rem;
}
.user-items .navigation-panel-item {
    font-size: 2.5rem;
}

/*Header*****************/
header{
    width: 100%;
    background: #000;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 20;
    transition: all .3s ease-in-out;
}
#brand-logo{
    margin-right: 1.5rem;
}
#brand-logo img.second{

    transition: all .4s ease-out;
}
header .menu{
    display: flex;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.burger{
    margin: 1rem;
    transition: all .8s ease-in-out;
    cursor: pointer;
}
.burger .stroke{
    background: var(--color-primary);
    height: 0.4rem;
    margin: 0.8rem;
    width: 3rem;
    
}
.active-block{
    background: var(--color-primary);
    height: 3.7rem;
    width: 62%;
    position: absolute;
    top: -0.9rem;
    z-index: -2;
    left: -3.2rem;
    opacity: 0;
    transition: all 1s ease-out;
}
.active-page p{
    font-weight: bold;
}
div.logo{
    margin-right: 5rem;
}
header nav{
    color: #fff;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin: 0.5rem 3rem;
}
nav ul li a {
    padding-bottom: 1rem;
    color: #fff;
    border-bottom: 0.2rem solid transparent;
}
nav ul li a:hover{
    color: var(--color-primary);
    border-bottom: 0.2rem solid var(--color-primary);
}

.main-cookies-container {
    padding: 16rem 4rem;
}

/*SECTIONS*/


/*BASE*/
#brand-logo img.first{
    width: 11rem !important;
    margin-left: 2rem;
}
#brand-logo img.second{
    transform: translate(-1.6rem, -12.6rem);
    transition: all .4s ease-out;
}
.scroll-to-top{
    right: 2rem;
}
.scroll-to-top i{
    display: block;
    font-size: 2.5rem;
    margin: 1.2rem auto;
}
.scroll-to-top:hover{
    background: transparent;
    border: 0.2rem solid var(--color-primary);
    color: var(--color-primary);
}
.bg-error-page{
    background-image: url(/public/images/bg-contacts.jpg);
    height: 100vh;
    background-size: cover;
}
.separateur{
    margin: 8rem auto;
    text-align: center;
}
/*FOOTER*/
footer{
    background: #000;
    color: #fff;
    padding: 5rem 2rem;
    text-align: center;
}

.social-media .social-icon{
    margin: 2rem;
    font-size: 3rem;
}
/*HOME*/
.bg-main{
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; 
    height: 100vh;
    width: 100%;
    background-color: #000;
}
.bg-main .container{
    display: flex;
    align-items: center;
}
.bg-home{
    background-image: url(/public/images/bg-contacts.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    margin-bottom: 0rem;
}
.bg-home .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg-home .overlay,
.bg-error-page .overlay{
    transition: all .2s ease-in-out;
    background: rgba(0, 0, 0, 0);
}
.bg-home .line-scroll a {
    color: #000;
}
.bg-main .line-scroll{
    opacity: 0;
    transition: all .4s ease-in-out;
    position: absolute;
    bottom: -6.9rem;
    left: 50%;
}
    /*
    ON LOAD HOMEPAGE
    */
.bg-home{
    background-position: -24rem 0rem;
}
.bg-home .block-logo-text .logo{
    width: 60%;
    height: auto;    
}
.block-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg-home .block-text{
    display: flex;
    color: #000;
    width: 80%;
    margin-left: 0rem;
}
.bg-home .block-text h1{
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 400;
}
.block-text h1 span {
    display: block;
    opacity: 0;
    transition: all .6s cubic-bezier(.1,.8,.9,1);
}
.block-text h1 span.show-span {
    opacity: 1;
    transform: translateY(2rem);
}
.text2.show-span{
    transition-delay: .2s;
}
.text3.show-span{
    transition-delay: .4s;
}

/*FIRST SECTION*/
.first-section-text{
    height: 100%;
    padding: 4rem 0rem;
}
.first-section-text .container{
    flex-direction: column;
    align-items: center;
    padding: 9rem 0 4rem 0;
    width: 100%;
    justify-content: center;
}
.first-section-text h2{
    font-size: 5rem;
    text-align: center;
}
.images-for-bio{
    text-align: center;
    padding: 2rem;
    margin: 2rem 0rem;
}
.images-for-bio img:first-child,
.images-for-bio img:nth-child(2){
    margin: 2rem 0;
    position: initial;
    max-width: 30rem;
}
.first-section-text .container div.para{
    width: 90%;
    position: initial;
    margin: 4rem 0rem;
}
.first-section-text .block-left{
    background: var(--color-primary);
    height: 17rem;
    width: 1.5rem;
    margin: 1rem;
    transition: all .4s ease-in-out;
}
.first-section-text .block-text {
    width: 100%;
    margin: 2rem;
    line-height: 1.5;
}

/*SECOND SECTION*/

.second-section{
    height: auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.box-prez-ep{
    top: 50rem;
    width: 100%;
    position: initial;
}
.box-prez-ep .block-text{
    text-align: center;
    padding: 0;
    margin: 2rem;
    line-height: 1.5;
    font-size: 2rem;
    color: var(--bg-dark);
}
.box-prez-ep .block-text .title{
    font-size: 7rem;
    font-weight: 400;
    color: #000
}
.box-prez-ep .block-text .title-2{
    margin: auto;
    font-size: 10rem;
    font-weight: 500;
    color: #000;
}
.second-section .ep-section{
    width: auto;
    margin: 0 auto;
    position: initial;
}
.second-section .ep-infos-container{
    padding: 0;
    display: block;
    margin: 0 auto;
}

.box-prez-ep .block-text .title-2::before,
.box-prez-ep .block-text .title-2::after{
    content: "";
    display: inline-block;
    height: 0.2rem;
    width: 4rem;
    background: #000;
    vertical-align: middle;
}
.box-prez-ep .block-text .title-2::before{
    margin-right: 2rem;
}
.box-prez-ep .block-text .title-2::after{
    margin-left: 2rem;
}
.img-ep img{
    max-width: 100%;
}
.img-ep .tooltip{
    opacity: 0;
    position: absolute;
    z-index: 10;
    background: #dddddd96;
    padding: 1rem;
    border-radius: 0.5rem;
    top: 34rem;
    left: 0rem;
    transition: all .8s ease-in-out;
    font-style: italic;
    max-width: 30rem;
}
.img-ep:hover .tooltip{
    opacity: 1;
    top: 16rem;
    left: 0;
}
/*SECTION MUSIC*/
.section-music{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.section-music .block-text{
    width: 100%;
    padding: 0rem;
    line-height: 1.8;
    font-size: 2.5rem;
    color: var(--bg-dark);
}
.section-music .block-text p:nth-child(2){
    transition-delay: .3s;
}

/*SECTION PROJECTS*/
.image-project{
    width: 35rem;
    height: 35rem;
    margin: 2rem;
}
.project-content{
    width: 35rem;
}

.ep-section .display-sm iframe{
    max-width: 100%;
    max-height: 100%;
}

.four-section-projects{
    height: auto;
    background: url(/public/images/bg-cta.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: -81rem;
    background-color: #000;
}
.four-section-projects .container{
    flex-direction: column;
    padding: 16rem 0;
}
.four-section-projects .overlay{
    background: rgb(0 0 0 / 65%);
    padding: 4rem 1rem;
}
.four-section-projects h2{
    color: var(--color-primary);
    text-align: center;
    font-size: 4.5rem;
    font-weight: 400; 
}
.four-section-projects .container .content{
    width: 80%;
    color: #fff;
    text-align: center;
}
.four-section-projects p{
    transition: all .6s ease-in-out;
    transition-delay: .2s;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

/*CONTACT*/
.section-contact-home{
    background-image: url(/public/images/bg-contacts-2.jpeg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-color: #000;
    background-attachment: scroll;
    background-position: -40rem -1rem;
    background-size: cover;
}
.section-contact-home .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-contact-home .container.overlay{
    background: rgba(0, 0, 0, 0.40);
    padding: 2rem;
}

.section-contact-home .main-form-container{
    color: var(--color-primary);
    padding: 4rem 0rem;
    width: 100%;
}
.main-form-container .contact-container{
    margin: 6rem 0rem;
    padding: 2rem;
}
.main-form-container .contact-container h2{
    font-size: 5rem;
    text-align: center;
}
.section-contact-home .infos{
    margin: 10rem 0rem;
    padding: 0rem;
    color: var(--color-primary);
    border-left: transparent
}
.section-contact-home .infos h3{
    font-size: 3rem;
}
.section-contact-home .infos a{
    display: block;
    font-size: 2.1rem;
}
form label{
    display: block;
    color: var(--color-primary);
}
form input,
form textarea{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0.2rem solid var(--color-primary);
    color: var(--color-primary);
    display: block;
    width: 100%;
    padding: 1rem;
    transition: all .6s ease-in-out;
    font-family: 'Montserrat';
}
form input:focus,
form textarea:focus{
    background-color:#ffffff73;
}

/*PAGE BIO*/
.bg-bio{
    background-image: url(/public/images/bg-bio.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: -10rem 0rem;
    margin-bottom: 8rem;
}
.bg-bio .container{
    justify-content: flex-start;
}
.bg-bio .overlay{
    background: rgba(0, 0, 0, 0) !important;
    transition: all .2s ease-in-out;
}

.bg-bio .block-title{
    margin-left: 2rem;
}
.bg-bio .block-title h1{
    transition: all .4s ease-in-out;
}

.bg-bio .block-title span.title1,
.bg-bio .block-title span.title2{
    font-size: 4rem;
    font-weight: bold;
    opacity: 0;
    
}
.bg-bio .block-title span.title1{
    color: var(--color-primary);
    transition: all .7s ease-in-out;
}
.bg-bio .block-title span.title2{
    color: #fff;
    position: relative;
    bottom: 3rem;
    display: block;
    left: 8rem;
    transition: all 1.5s ease-in-out;
}
.bg-bio .block-title-after{
    background-color: var(--color-primary);
    height: 0.5rem;
    width: 0rem;
    transition: all .9s ease-in-out;
    position: relative;
    bottom: 7rem;
}
.biography.first-section-text{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biography.first-section-text .container-text{
    margin-bottom: 20rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
}
.biography.first-section-text .container-text{
    padding: 0rem;
    margin-bottom: 5rem;
}
.container-text .block-text-first,
.container-text .block-text-second{
    width: 100%;
    margin-bottom: 5rem;
    line-height: 2.5rem;
}
.container-text .block-text-first p:nth-child(2){
    transition-delay: .2s;
}
.container-text .block-text-first p:nth-child(3){
    transition-delay: .3s;
}
.container-text .block-text-first p:nth-child(4){
    transition-delay: .4s;
}
.container-text .block-text-first p:nth-child(5){
    transition-delay: .5s;
}
.container-img{
    position: relative;
}
.container-img .image{
    position: relative;
}
.container-img .image h2{
    font-size: 3.5rem;
    position: initial;
    text-align: center;
}
.container-img .image img{
    position: initial;
    max-width: 100%;
}

.container-img .block-1,
.container-img .block-2{
    display: none;
}
.second-section-bio{
    padding: 2rem;
}
.second-section-bio .container{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-section-bio .first-block{
    margin-bottom: 0rem;
}
.second-section-bio .first-block img{
    position: initial;
}
.second-section-bio .first-block .block-1{
    display: none;
}
.second-section-bio .first-block .para-1 p:nth-child(2){
    transition-delay: .3s;
}

.fourth-section-bio{
    padding: 6rem 0;
    position: relative;
}
.fourth-section-bio .wrapper-position{
    
    left: 0rem;
}
.fourth-section-bio .container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fourth-section-bio .block-title{
    max-width: 35rem;
    position: initial;
    margin-bottom: 3rem;
    padding: 2rem;
}
.fourth-section-bio h3{
    font-size: 3.5rem;
    margin: 0;
    position: initial;
    text-align: center;
    transition-delay: .3s;
}
.fourth-section-bio .block-1{
    display: none;
}
.fourth-section-bio .block-2{
    display: none;
}
.fourth-section-bio .container img{
    max-width: 100%;
    position: initial;
    margin-bottom: 4rem;
}
.fourth-section-bio .block-btn{
    position: initial;
    margin-bottom: 5rem;
}
.section-gallery{
    margin: 3rem 1rem;
    position: relative;
}
.section-gallery h1{
    font-size: 5rem;
    margin-bottom: 6rem;
}
.section-gallery .block-btn{
    text-align: center;
    margin: 6rem 0;
}
#lightgallery a img{
    max-width: 100%;
}

.container-img .image .tooltip,
.video-second-section .container .tooltip{
    opacity: 0;
    position: absolute;
    z-index: 10;
    background: #dddddd96;
    padding: 2rem;
    border-radius: 0.5rem;
    top: 50rem;
    right: -0rem;
    transition: all .8s ease-in-out;
}
.container-img .image:hover .tooltip,
.video-second-section .container:hover .tooltip{
    opacity: 1;
    top: 40rem;
    right: 0rem;
    font-weight: 500;
}

/* MUSICA*/

.bg-main-music{
    background-image: url(/public/images/zamua-pr.jpg);
    background-size: cover;
    background-position: -20rem 9rem;
    background-color: #000;
    background-attachment: scroll;
    margin-bottom: 0rem;
}
.bg-main-music .container{
    justify-content: start;
}
.bg-main-music .overlay{
    background: rgba(0, 0, 0, 30%);
    transition: all .2s ease-in-out;
    padding: 0 1rem;
}

.bg-main-music .container .block-title{
    margin: 0;
}
.bg-main-music .container .block-title h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0rem;
    font-size: 6rem;
}
.bg-main-music .container .block-title span.title1{
    opacity: 0;
    transition: all .4s ease-in-out;
    color: #fff;
}
.bg-main-music .container .block-title span.title2{
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: .1s;
    color: var(--color-primary);
}
.bg-main-music .container .block-title span.title3{
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: .3s;
    color: #fff;
}
.bg-main-music .container .block-title span.title-dots{
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: .5s;
    color: #fff;
}
.music-first-section{
    margin-bottom: 3rem;
}
.music-first-section .container{
    position: initial;
}
.music-first-section .block-text{
    width: 100%;
    position: initial;
    padding: 8rem 2rem;
}

.music-second-section{
    margin-bottom: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.music-second-section .ep-infos-container{
    padding: 0;
    margin-bottom: 5rem;
}
.audio-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}
.audio-container:nth-child(2){
    transition-delay: .2s;
}
.audio-container:nth-child(3){
    transition-delay: .4s;
}
.audio-container:nth-child(4){
    transition-delay: .6s;
}
.audio-container:nth-child(5){
    transition-delay: .8s;
}
.player i{
    font-size: 2.2rem;
}
.track-container{
    margin-top: 2rem;
}
.track-container .title{
    margin-bottom: 2rem;
}
.track-container .player{
    display: flex;
    align-items: center;
}
.track-container .player i{
    margin-right: 2rem;
}
.cover-album{
    margin: 0rem;
}

/*VIDEO*/
.bg-main-video{
    background-image: url(/public/images/picture-video.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: -22rem 2.2rem;
    height: 70vh;
    margin-bottom: 8rem;
}
.bg-main-video .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bg-main-video .overlay{
    background: rgba(0, 0, 0, 0.5) !important;
    transition: all .2s ease-in-out;
}
.bg-main-video .container .block-title{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-primary)
}
.bg-main-video .container .block-title h1{
    margin-left: 4rem;
    font-size: 5rem;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.video-first-section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.video-first-section .container .video-container{
    margin-bottom: 10rem;
    position: relative
}
.video-first-section .container .video-container iframe{
    max-width: 100%;
}
.video-container .edit-action{
    background: var(--color-primary);
    color: #000;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    bottom: 1.6rem;
    right: 2rem;
}
.video-container .edit-action a{
    color: #000;
}


.video-second-section{
    margin: 10rem 0;
    padding: 2rem;
}
.video-second-section .container{
    position: relative;
}
.video-second-section .wrapper-position{
    position: initial;
}
.video-second-section .block-title{
    position: initial;
    width: auto;
    color: var(--text-color);
    margin-bottom: 3rem;
}
.video-second-section h2{
    font-size: 3rem;
}
.video-second-section h3{
    font-size: 3rem;
    transition-delay: .3s;
}
.video-second-section .block-1{
    display: none;

}
.video-second-section .block-2{
    display: none;

}
.video-second-section .container img{
    max-width: 100%;
    position: initial;
    margin-bottom: 5rem;
}
.video-second-section .block-btn{
    position: initial;
}

/*PAGE GALLERIA*/
.bg-main-gallery{
    background-image: url(/public/images/banner-photos.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: 58% 50%;
    height: 70vh;
    margin-bottom: 8rem;
}
.bg-main-gallery .container{
    justify-content: flex-start;
}
.bg-main-gallery .overlay{
    background: rgba(0, 0, 0, 0.445);
    transition: all .2s ease-in-out;
}

.bg-main-gallery .block-title h1 {
    font-size: 5rem;
    font-weight: bold;
    opacity: 0;
    color: var(--color-primary);
    transition: all .7s ease-in-out;
    margin-left: 4rem;
}

#lightgallery{
    columns: 1;
    column-gap: 0.1rem;
    text-align: center;
}
#lightgallery a {
    overflow: hidden;
    margin: 0.4rem;
    display: block;
}
#lightgallery a img{
    cursor: pointer;
    transition: all 1.5s ease-out;
    max-width: 100%;
}
#lightgallery a:hover img{
    opacity: 0.8;
    transform: scale(1.1);
}

.gallery-caption{
    font-size: 2rem;
}
.credit{
    font-size: 1.8rem;
    color: var(--color-primary);
}

/*override from lightgallery CSS*/
.lg-backdrop{
    background-color: #000000fd !important;
}
.lg-components{
    margin-bottom: 3rem;
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem 0;
}
/* PAGE CONTATTI*/
.bg-main-contact{
    background-image: url(/public/images/bg-contacts-2.jpeg);
    background-size: cover;
    background-attachment: scroll;
    background-position: -11.5rem 0;
    height: auto;
}
.bg-main-contact .container{
    flex-direction: column;
}
.bg-main-contact .overlay{
    background: rgba(0, 0, 0, 0.445) !important;
    transition: all .2s ease-in-out;
}
.bg-main-contact .block-title{
    margin-top: 20rem;
    margin-bottom: 8rem;
}
.bg-main-contact .block-title h1{
    opacity: 1;
    font-size: 5.5rem;
    color: #fff;
    transition: all .8s ease-in-out;
}
.contact-section{
    margin-left: 0rem;
    margin-bottom: 15rem;
}
.contact-section .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.contact-section .form-container form{
    width: auto;
    padding: 1rem;
    margin: 2rem 2rem 7rem 2rem;
    border: none;
}
.contact-section .infos{
    padding: 1rem;
}

.contact-section .infos a{
    display: block;
    font-size: 2.1rem;
}
/* PROGETTI*/
.bg-main-projects{
    background-image: url(/public/images/bg-projects-2.jpeg);
    background-size: cover;
    background-attachment: scroll;
    background-position: -6rem 0;
    height: 70vh;
    margin-bottom: 8rem;
}
.bg-main-projects .container{
    justify-content: flex-start;
}
.bg-main-projects .overlay{
    background: rgba(0, 0, 0, 0.445) !important;
    transition: all .2s ease-in-out;
}
.bg-main-projects .container .block-title h1{
    opacity: 0;
    transition: all .8s ease-in-out;
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 2rem;
    font-weight: bold;
    color: var(--color-primary)
}

.sections-all-projects{
    margin-bottom: 20rem;
    padding-bottom: 25rem;
    position: relative;
}
.container-projects-cards{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    opacity: 1;
    transition: all .3s ease-in-out;
}
.project-card{
    margin: 2.5rem;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    display: block;
    width: 30rem;
    height: 30rem;
}
.project-card .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(0 0 0 / 45%);
    overflow: hidden;
    
}
.wrapper {
    width: 23rem;
    height: 25rem;
    border: 0.1rem solid var(--color-primary);
    position: relative;
}
#zamua-solo{
    background: url(/public/images/zamua-solo.jpg) no-repeat;
    background-size: cover;
}
#zamua-band{
    background: url(/public/images/zamua-band.jpg) no-repeat;
    background-size: cover;
}
#zamua-raffaele-casarano{
    background: url(/public/images/zamua-casarano.jpg) no-repeat;
    background-size: cover;
}
#zamua-flavio-boltro{
    background: url(/public/images/zamua-boltro.jpg) no-repeat;
    background-size: cover;
}
#zamua-laviko-ensemble{
    background: url(/public/images/zamua-laviko.jpg) no-repeat;
    background-size: cover;
}
#zamua-memoria-decoloniale{
    background: url(/public/images/bg-bio.jpg) no-repeat;
    background-size: cover;
}
.title-project {
    position: absolute;
    top: 14rem;
    left: 11rem;
    color: var(--color-primary);
}
.title-project .block-title{
    position: relative;
}
.title-project .block-title .stroke{
    transition: all .6s ease-in-out;
    position: absolute;
    height: 0rem;
    width: 0.2rem;
    background: var(--color-primary);
    left: -1.3rem;
    top: 0.5rem;
}
.title-project .block-title .title-artist{
    transition: all .4s ease-in-out;
    position: absolute;
    left: -10rem;
    top: 1.5rem;
}
.title-project .block-title .title-partner{
    transition: all .6s ease-in-out;
    position: absolute;
    top: 1.5rem;
    left: 0rem;
}
.project-card:hover .overlay{
    background: rgb(0 0 0 / 75%);
}
.project-card:hover .title-artist{
    left: -10rem;
    top: 0;
}
.project-card:hover .title-partner{
    top: 3rem;
}
.project-card:hover .stroke{
    height: 7rem;
}

.container-project{
    transition: all .4s ease-in-out;
}
.container-projects-to-display .close-container{
    transition: all .3s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 115rem;
    right: 3.6rem;
    z-index: 20;
}
.container-projects-to-display .close-container i{
    font-size: 4rem;
    color: var(--text-color);
    cursor: pointer;
}
.show.container-project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.show.container-project .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0 0 0 / 54%);
}
.show.container-project .title-project{
    position: initial;
    
}
.show.container-project .title-project .block-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.show.container-project .title-project .block-title .title-artist,
.show.container-project .title-project .block-title .title-partner{
    position: initial;
    font-size: 2rem;
}
.one-project-content{
    padding: 7rem;
    background: #e3e3e3;
    padding: 7rem;
    opacity: 0;
    transition: all .6s ease-in;
}
.container-project .head-picture{
    margin-right: 0;
    margin-bottom: 3rem;
    width: 28rem;
    height: 28rem;
    left: 1.5rem;
}
#zamua-solo-to-display{
    background: url(/public/images/zamua-solo.jpg) no-repeat;
    background-size: cover;
}
#zamua-band-to-display{
    background: url(/public/images/zamua-band.jpg) no-repeat;
    background-size: cover;
}
#zamua-raffaele-casarano-to-display{
    background: url(/public/images/zamua-casarano.jpg) no-repeat;
    background-size: cover;
}
#zamua-flavio-boltro-to-display{
    background: url(/public/images/zamua-boltro.jpg) no-repeat;
    background-size: cover;
}
#zamua-laviko-ensemble-to-display{
    background: url(/public/images/zamua-laviko.jpg) no-repeat;
    background-size: cover;
}
#zamua-memoria-decoloniale-to-display{
    background: url(/public/images/bg-bio.jpg) no-repeat;
    background-size: cover;
}
.project-elements{
    border-left: 0.4rem solid var(--color-primary);
    padding: 1rem 2rem;
}
.project-elements span{
    font-style: italic;
    margin-bottom: 1rem;
    
}
.one-project-content{
    padding: 8rem 2rem;
    margin: 0 2rem;
}
.project-presentation{
    width: auto;
}
.project-presentation .text{
    line-height: 3.5rem;
    padding-bottom: 2rem;
}
.project-presentation .images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.project-presentation .images img{
    margin: 2rem 0;
}
.wrapper-img{
    position: relative;
}
.project-presentation .wrapper-img .tooltip{
    position: absolute;
    bottom: -1.6rem;
    left: 0rem;
    background: #000000ea;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all .5s ease-in-out;
    max-width: 70rem;
    height: auto;
    line-height: 2.5rem;
    color: #fff;
}
.images .wrapper-img:hover .tooltip{
    opacity: 1;
    bottom: 0.1rem;
}


/*PAGE SHOWS*/

.bg-main-shows{
    background-attachment: scroll;
    background-position: -6rem 0rem;
    background-image: url(/public/images/zamua-vayulive2.jpg);
    background-size: cover;
    height: 70vh;
    margin-bottom: 8rem;
}
.bg-main-shows .container{
    justify-content: flex-start;
}
.bg-main-shows .overlay{
    background: rgba(0, 0, 0, 0.1) !important;
    transition: all .2s ease-in-out;
}
.bg-main-shows .container .block-title h1{
    opacity: 0;
    transition: all .8s ease-in-out;
    text-transform: uppercase;
    margin-left: 4rem;
    font-size: 5rem;
    font-weight: bold;
    color: var(--color-primary)
}
.section-show{
    height: auto;
    width: 100%;
}
.section-show .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0;
    background: rgba(255, 255, 255, 1);
}
.container-shows{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.one-show-item{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin: 2rem 0rem;
    align-items: center;
    background: #000;
    font-size: 2rem;
    width: 100%;
}
.one-show-infos{
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    text-align: center;
}
.one-show-date{
    color: #fff;
    margin-bottom: 2rem;
}
.one-show-venu-location{
    display: flex;
    margin: 0 4rem;
    flex-direction: column;
}
.one-show-venu-location .venu{
    margin: 2rem auto;
    padding: 0 2rem;
    font-weight: 600;
}
.one-show-venu-location .location{
    margin: auto;
}
.one-show-actions{
    margin-left: 0;
}
.venu span,
.location span,
.one-show-actions span{
    color: var(--color-primary);
}
/*******/
.main-cookies-container, .main-credits-container {
   padding: 17rem 2rem;
}

/*PRIVACY*/

.main-cookies-container, .main-credits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.cookies-container,
.privacy-container,
.credits-container{
    line-height: 3rem;
}
.main-cookies-container .sub-section{
    margin-bottom: 3rem;
}
.main-cookies-container p,
.privacy-container .sub-section ul{
    font-size: 1.6rem;
}
@media screen and (min-width: 375px) {

    .navigation-panel-item {
        margin-bottom: 2rem;
        font-size: 3rem;
    }

    /*PAGE HOME*/
    .bg-home .block-text h1 {
        font-size: 4rem;
        line-height: 5.5rem;
    }
    /*SECTION PROJECTS*/
    .four-section-projects{
        background-position: -63rem;
    }


    /*PAGE BIO*/
  
    .bg-bio .block-title span.title1, 
    .bg-bio .block-title span.title2{
        font-size: 5rem;
    }
    .bg-bio .block-title span.title2{
        left: 10rem;
    }
    .bg-bio .block-title-after{
        bottom: 8rem;
    }
    
    /*PAGE MUSIC*/

    .bg-main-music{
        margin-bottom: 6rem;
    }

    /*PAGE SHOWS*/
    .bg-main-shows{
        margin-bottom: 2rem;
    }
    /*PAGE GALLERY*/

    /*PAGE VIDEOS*/

    /*PAGE PROJECTS*/
    .bg-main-projects .container .block-title h1{
        font-size: 5rem;
    }
    .container-projects-to-display .close-container{
        right: 3.6rem;
        top: 104rem;
    }
    .project-card{
        width: 35rem;
        height: 35rem;
    }
    .wrapper{
        width: 28rem;
        height: 28rem;
    }
    .title-project{
        left: 14rem;
    }
    .container-project .head-picture{
        width: 30rem;
        height: 30rem;
    }
   
    /*PAGE CONTACT*/
    .contact-section .form-container form{
        margin: 2rem 0rem 7rem 0rem;
        padding: 0;
    }

}


@media screen and (min-width: 480px) and (max-width: 640px){

    /*PAGE HOME*/
    .bg-home .block-text h1{
        font-size: 5rem;
        line-height: 7rem;
        font-weight: 300;
    }
    .first-section-text .container{
        padding: 9rem 2rem 4rem 2rem;
    }
    .second-section .ep-infos-container{
        width: 35rem;
    }

    .section-music{
        padding: 6rem 4rem;
    }
    .four-section-projects {
        background-position: -52rem;
    }
    .four-section-projects .overlay{
        padding: 4rem;
    }

    /*PAGE BIO*/
    .biography.first-section-text{
        padding: 4rem;
    }

    /*PAGE MUSIC*/
    .bg-main-music .container .block-title h1{
        margin-left: 2rem;
    }
    .music-first-section .block-text{
        padding: 8rem 4rem;
    }

    /*PAGE SHOWS*/

    /*PAGE GALLERY*/

    /*PAGE VIDEOS*/
    .bg-main-projects .container .block-title h1{
        margin-left: 4rem;
    }

    /*PAGE PROJECT*/
   

    
    .container-project .head-picture{
        width: 35rem;
        height: 35rem;
    }
    .container-projects-to-display .close-container{
        top: 110rem;
    }
    .wrapper-img{
        width: 40rem;
    }

    /*PAGE CONTACT*/

    .contact-section .form-container form{
        min-width: 100%;
    }


}
@media screen and (min-width: 540px) and (max-width: 640px){
    /*PAGE PROJECTS*/
    .four-section-projects {
        background-position: -38rem;
    }

    /*PAGE BIO*/
    #lightgallery a{
        margin: 0.4rem auto;
        width: 45rem;
    }
    /*PAGE MUSIC*/

    /*PAGE SHOWS*/

}
@media screen and (min-width: 641px) {
    
    .navigation-panel-item{
        font-size: 4rem;
    }
    .navigation-panel #icon-container{
        font-size: 5rem;
    }
    .switch-language a{
        font-size: 2.5rem;
    }
    .bg-main .container .block-title h1{
        font-size: 8rem;
    }
    
    /*PAGE HOME*/
    .bg-main.bg-home .container .block-text h1{
        font-size: 6rem;
        font-weight: 300;
        line-height: 8.5rem;
    }
    .first-section-text .container div.para{
        padding: 0rem 4rem;
    }
    .box-prez-ep .block-text .title{
        font-size: 9rem;
    }
    .second-section .ep-section{
        padding: 0 4rem;
    }
    .second-section .ep-infos-container .img-ep{
        width: 75%;
        margin: 0 auto;
    }
    
    .img-ep .tooltip{
        top: 50rem;
        max-width: 100%;
    }
    
    .section-music{
        padding: 2rem 6rem;
    }
    .four-section-projects{
        background-position: -24rem 0rem;
    }
    .four-section-projects .container{
        padding: 8rem 1rem;
    }
    .section-contact-home .main-form-container{
        width: 80%;
    }
    .main-form-container .contact-container{
        padding: 4rem;
    }
    /*PAGE BIO*/
    .bg-bio .block-title span.title1,
    .bg-bio .block-title span.title2{
        font-size: 8rem;
    }
    .bg-bio .block-title span.title2{
        bottom: 4.7rem;
        left: 16rem;
    }
    .bg-bio .block-title-after{
        bottom: 12rem;
    }
    .biography.first-section-text{
        padding: 4rem 6rem;
    }
    .second-section-bio{
        padding: 2rem 6rem;
    }
    #lightgallery a{
        width: 55rem;
        margin: 1rem auto;
    }
    /*PAGE MUSIC*/
    
    .music-first-section .block-text{
        padding: 8rem 6rem 4rem 6rem;
    }
    .music-second-section .ep-infos-container,
    .audio-container{
        margin: 3rem 2rem;
    }
    
    /*PAGE SHOWS*/
    
    /*PAGE GALLERY*/
    .bg-main-gallery{
        margin-bottom: 12rem;
    }
    
    /*PAGE VIDEOS*/
    
    /*PAGE PROJECTS*/
    .bg-main-projects{
        margin-bottom: 14rem;
    }
    .container-projects-to-display .close-container{
        top: 116rem;
        right: 6.6rem;
    }
    .container-project .head-picture{
        width: 35rem;
        height: 35rem;
    }
    .one-project-content{
        padding: 8rem 5rem;
        margin: 0 4rem;
    }
    .wrapper-img{
        width: 40rem;
    }
    /*PAGE CONTACT*/
    .contact-section .form-container form{
        min-width: 100%;
    }
}

@media screen and (min-width: 755px){
    .container-iframe{
        width: 75%;
    }
}

@media screen and (min-width: 768px){
    
    #brand-logo{
        margin-left: 4rem;
    }
    .bg-main .container .block-title h1{
        font-size: 7rem;
    }
    /*PAGE HOME*/
    .bg-home {
        background-position: 0rem 0rem;
    }
    
    .first-section-text .container div.para{
        padding: 0 6rem;
    }
    .img-ep img{
        width: 40rem;
    }
    .container-iframe{
        width: 75%;
    }
    .section-music{
        padding: 2rem 8rem;
    }
    /*PAGE BIO*/
    .bg-bio .block-title{
        margin-left: 6rem;
    }
    #lightgallery{
        column-count: 2;
    }
    #lightgallery a{
        width: auto;
        margin: 0.4rem;
    }
    /*PAGE MUSIC*/
    .bg-main-music .container .block-title{
        margin-left: 2rem;
    }
    /*PAGE SHOWS*/
    .one-show-item{
        flex-direction: row;
    }
    .one-show-infos{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .one-show-date{
        margin: 0;
    }
    .one-show-venu-location{
        flex-direction: row;
    }

    /*PAGE PHOTOS*/
    /*PAGE VIDEOS*/
    .video-second-section .container{
        flex-direction: column;
    }
    .video-second-section .container img{
        width: 55rem;
    }  

    /*PAGE PROJECTS*/
    .project-card{
        width: 40rem;
        height: 40rem;
    }
    .wrapper{
        width: 33rem;
        height: 33rem;
    }

    /*PRIVACY*/
    .main-cookies-container{
        width: 80%;
    }
}

@media screen and (min-width: 992px) {

    .mobile-view{
        display: none;
    }
    .no-mobile-view{
        display: flex;
        align-items: center;
        margin-right: 3rem;
    }
    .switch-language a{
        font-size: 1.5rem;
        padding: 0 1rem;
        text-transform: uppercase;
    }
    .active-page{
        color: #fff;
        margin: 2rem 2rem 2rem 4rem;
        position: relative;
    }
    .display-sm{
        display: none;
    }
    .display-lg{
        display: block;
    }
    .bg-main .container .block-title h1{
        font-size: 8rem;
    }
    .btn-custom{
        font-size: 1.8rem;
        padding: 1.8rem 0;
        width: 18rem;
    }

    /*PAGE HOME*/
    .first-section-text .container div.para,
    .second-section .ep-section{
        padding: 0 8rem;
    }
    
    .second-section .ep-infos-container{
        display: flex;
        flex-direction: row;
        transition: all .4s ease-in-out;
    }
    .second-section .ep-infos-container .img-ep{
        width: auto;
        transition: all .4s ease-in-out;
    }
    .img-ep img{
        max-width: 35rem;
        transition: all .4s ease-in-out;
    }
    .section-music{
        padding: 2rem 10rem;
    }

    .four-section-projects h2{
        font-size: 8rem;
    }
    .four-section-projects p{
        font-size: 3rem;
        line-height: 4rem;
    }
    

    .main-form-container .contact-container{
        width: 60rem;
        margin: 6rem auto;
    }
    .section-contact-home .infos{
        margin: 10rem 12rem;
    }
    /*PAGE BIO*/
    .biography.first-section-text,
    .second-section-bio{
        padding: 4rem 10rem;
    }
    .fourth-section-bio .block-title{
        max-width: 100%;
    }
    .container-img .image h2,
    .fourth-section-bio h3{
        font-size: 4.5rem;
    }
    .section-gallery h1{
        font-size: 8rem;
    }
    .container-img .image .tooltip,
    .video-second-section .container .tooltip{
        right: 6rem;
    }
    .container-img .image:hover .tooltip, 
    .video-second-section .container:hover .tooltip {
        opacity: 1;
        top: 40rem;
        right: 6rem;
        font-weight: 500;
    }
    
    /*PAGE MUSIC*/
    .music-first-section .block-text {
        padding: 8rem 12rem 4rem 12rem;
    }

    /*PAGE SHOWS*/

    /*PAGE VIDEOS*/
    .video-second-section h2{
        font-size: 4.5rem;
    }
    /*PAGE PROJECTS*/
    .bg-main-projects{
        margin-bottom: 10rem;
    }
    .bg-main-projects .container .block-title h1{
        margin-left: 6rem;
    }
    .project-presentation .images{
        flex-direction: row;
    }
    .project-presentation .images img{
        width: 35rem;
        margin: 2rem;
    }
    .project-presentation .wrapper-img .tooltip{
        left: 4rem;
    }
    .container-project .head-picture {
        left: 43rem;
        margin-right: 3rem;
        opacity: 0;
        position: relative;
        transition: all .4s cubic-bezier(.645,.045,.355,1);
    }
    
    /*PAGE CONTACT*/
    .contact-section .form-container form{
        width: 55rem;
    }
}

@media screen and (min-width: 1200px){

    .line-scroll .line{
        height: 19rem;
        width: 0.3rem;
        background-color: var(--color-primary);
    }
    .line-scroll a{
        bottom: 19.5rem;
        font-size: 2rem;
        left: -0.9rem;
    }
    /*PAGE HOME*/
    .bg-home{
        background-attachment: fixed;
    }
    .first-section-text .container div.para, 
    .second-section .ep-section {
        padding: 0 14rem;
    }

    .second-section .ep-section{
        width: 75%;
    }
    .section-music{
        padding: 2rem 20rem;
    }

    /*PAGE BIO*/
    .bg-bio{
        background-position: 0rem 0rem;
        background-attachment: fixed;
    }
    .biography.first-section-text, .second-section-bio {
        padding: 4rem 20rem;
        margin-bottom: 20rem;
    }
    .biography.first-section-text .container-text{
        margin-bottom: 20rem;
    }
    .container-img{
        position: relative;
    }
    .container-img .image{
        position: relative;
    }
    .container-img .image h2{
        font-size: 4.5rem;
        z-index: 6;
        position: absolute;
        top: -161px;
        right: -4rem;
    }
    .container-img .image img{
        position: relative;
        z-index: 5;
    }
    .container-img .block-1{
        display: block;
        background: var(--color-primary);
        position: absolute;
        top: -8.9rem;
        left: 26rem;
        width: 36rem;
        z-index: 4;
        transition-delay: .2s;
    }
    .container-img .block-2{
        display: block;
        background: #e3a540;
        position: absolute;
        bottom: -10.8rem;
        left: -13rem;
        /* width: 60rem; */
        height: 39rem;
        z-index: 3;
        transition-delay: .4s;
    }
    .fourth-section-bio{
        margin-bottom: 28rem;
    }
    .fourth-section-bio .wrapper-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fourth-section-bio .block-title{
        position: absolute;
        top: -26.6rem;
        left: -100px;
        z-index: 6;
    }
    .fourth-section-bio .block-title h3{
        text-align: initial;
        position: absolute;
        right: -82rem;
        margin-left: 2rem;
        top: 12rem;
        color: var(--color-primary);
    }
    .fourth-section-bio .block-btn{
        position: absolute;
        bottom: 53rem;
        right: -21rem;
        z-index: 7;
    }
    .fourth-section-bio .block-1{
        background: #000;
        width: 62rem;
        position: absolute;
        top: -18rem;
        left: 15.5rem;
        display: block;
    }
    .fourth-section-bio .block-2{
        background: #e3a540;
        width: 60rem;
        position: absolute;
        top: 15rem;
        left: -18.2rem;
        z-index: 4;
        display: block;
    }
    .fourth-section-bio .container img{
        position: relative;
        z-index: 5;
        width: 60rem;
    }
    #lightgallery{
        column-count: 3;
    }

    /*PAGE MUSIC*/
    .bg-main-music{
        background-attachment: fixed;
    }
    .bg-main-music .container{
        justify-content: flex-end;
    }
    .bg-main-music .container .block-title h1{
        margin-right: 8rem;
    }
    .music-first-section .block-text{
        padding: 8rem 20rem;
    }
    /*PAGE SHOWS*/
    .bg-main-shows{
        background-position: 0rem -21rem;
        background-attachment: fixed;
    }
    .bg-main-shows .container .block-title h1{
        margin-left: 25rem;
    }
    /*PAGE GALLERY*/
    .bg-main-gallery{
        margin-bottom: 8rem;
        background-attachment: fixed;
    }
    .bg-main-gallery .container .block-title h1{
        margin-left: 25rem;
    }
    .section-gallery{
        margin-bottom: 18rem;
    }
    /*PAGE VIDEOS*/
    .bg-main-video{
        background-attachment: fixed;
    }
    .bg-main-video .container .block-title h1{
        margin-left: 25rem;
    }
    .video-first-section .container{
        flex-direction: row;
    }
    .video-first-section .container .video-container{
        margin: 5rem 1rem;
    }
    .video-second-section{
        margin-bottom: 77rem;
        margin-top: 15rem;
        position: relative;
        padding: 6rem;
    }
    .video-second-section .wrapper-position{
        position: absolute;
        top: 10rem;
        left: 0;
    }
    .video-second-section .block-title{
        position: absolute;
        color: var(--color-primary);
        z-index: 6;
        width: 78rem;
        top: -11rem;
        left: 19rem;
    }
    .video-second-section .block-1{
        background: #000;
        height: 50rem;
        width: 62rem;
        top: -15.5rem;
        left: 30.8rem;
        position: absolute;
        z-index: 4;
        display: block;
    }
    .video-second-section .block-2{
        background: #fe005a;
        height: 39rem;
        width: 51rem;
        top: 21.9rem;
        left: 11.8rem;
        position: absolute;
        transition-delay: .5s;
        display: block;
    }
    .video-second-section .container img{
        position: absolute;
        top: 8rem;
        left: 20rem;
        z-index: 5;
        max-width: none;
    }
    .video-second-section .block-btn{
        position: absolute;
        top: 7rem;
        left: 79rem;
        z-index: 7;
    }
    .video-second-section .container .tooltip{
        right: -67rem;
    }
    .video-second-section .container:hover .tooltip{
        opacity: 1;
        right: -67rem;
    }
    /*PAGE PROJECTS*/
    .bg-main-projects{
        background-position: 0rem;
        background-attachment: fixed;
    }
    .bg-main-projects .container .block-title h1{
        margin-left: 25rem;
    }
    .one-project-content {
        padding: 8rem 9rem;
        margin: 0 12rem;
    }
    .wrapper-img{
        width: 38rem;
    }
    .project-presentation .images img{
        margin: 2rem 1rem;
    }

    /*PAGE CONTACT*/
    .bg-main-contact{
        background-position: 0 0;
        background-attachment: fixed;
    }
    .contact-section .form-container{
        flex-direction: row;
        align-items: flex-start;
    }
    .contact-section .form-container form{
        width: 56rem;
        border-right: 0.2rem solid var(--color-primary);
        margin-right: 6rem;
        padding-right: 6rem;
        min-width: initial;
    }
    /*PRIVACY*/
    .main-cookies-container{
        width: 70%;
    }
}
@media screen and (min-width : 1400px) {

    .navigation-panel-item{
        font-size: 5rem;
        margin-bottom: 3rem;
    }
    /*PAGE HOME*/

    .bg-home .container{
        align-items: flex-end;
    }
    .bg-home .block-text{
        margin-right: 4rem;
        width: initial;
    }
    .bg-main.bg-home .container .block-text h1{
        font-size: 8rem;
    }
    .first-section-text .container div.para{
        width: 70%;
    }
    .second-section .ep-infos-container{
        width: 80%;
        justify-content: center;
    }
    .section-music{
        width: 70%;
        margin: 6rem auto 14rem;
    }
    .four-section-projects{
        background-position: 0rem 3rem;
        background-attachment: fixed;
    }
    .four-section-projects .container{
        padding: 16rem 2rem;
    }
    .section-contact-home{
        background-position: 0rem 0rem;
        background-attachment: fixed;
    }
    .section-contact-home .container.overlay{
        padding: 0rem;
    }
    .section-contact-home .main-form-container{
        width: 70rem;
        padding: 7rem;
    }
    .main-form-container .contact-container{
        width: unset;
        margin: 12rem 0;
        padding: 0;
    }
    .section-contact-home .infos{
        border-left: 0.4rem solid;
        color: var(--color-primary);
        margin: 6rem 0;
        padding: 0 2rem;
    }

    .main-form-container .contact-container h2{
        font-size: 8rem;
    }
    /*PAGE BIO*/
    .container-text .block-text-first, .container-text .block-text-second{
        width: 70%;
        margin: 5rem auto;
    }
    .second-section-bio .first-block{
        width: 70%;
    }
    #lightgallery{
        column-count: 4;
    }

    /*PAGE MUSIC*/
    .music-first-section .block-text{
        width: 80%;
    }

    /*PAGE SHOWS*/
    .container-shows{
        padding: 6rem 0;
    }
    .one-show-venu-location .venu{
        margin: 0rem 6rem 0 0;
    }
    .one-show-actions{
        margin-left: 5rem;
    }

    /*PAGE GALLERY*/
    .bg-main-gallery{
        margin-bottom: 15rem;
    }

    /*PAGE VIDEO*/
    .video-second-section .wrapper-position{
        left: 50rem;
    }
    .video-second-section .block-btn{
        top: 4rem;
    }

    /*PAGE PROJECTS*/
    .show.container-project{
        flex-direction: row;
        align-items: flex-start;
        padding: 3rem;
    }
    .container-projects-to-display .close-container{
        top: 12rem;
        right: 16.6rem;
    }
    .container-project .head-picture{
        width: 40rem;
        height: 40rem;
    }
    .show.container-project .title-project .block-title .title-artist,
    .show.container-project .title-project .block-title .title-partner{
        font-size: 3rem;
    }
    .one-project-content{
        margin: 0;
        padding: 7rem;
        width: 70%;
    }

}
